@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid #808080;
    transition: .5s;
}

header a {
    text-decoration: none;
    color: #fff;
    margin: 0 0 0 40px;
    font-size: 3em;
}

header span {
    color: #932b2b;
    font-weight: bold;
}

header img {
    width: 55px;
    height: 55px;
    padding: 8px 0;
    margin: 0 40px 0 0;
    cursor: pointer;
}

.sticky {
    background: #000;
    height: 60px;
    font-size: .9em;
    transition: .6s;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg) repeat 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.home p {
    font-size: 1.4em;
}

.home h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

.home hr {
    width: 225px;
    border-bottom: 5px solid #932b2b;
}

.about-me h2{
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}

.about-me hr {
    width: 150px;
    border-bottom: 5px solid #932b2b;
}

.edu-pas {
    display: flex;
    flex-direction: column;  
    color: #fff;
}

.education {
    background: #1f2021;
    padding: 20px 40px;
    margin: 30px 60px;
}

.passion {
    background: #1f2021;
    padding: 20px 40px;
    margin: 30px 60px;
}

.resources {
    background: #1f2021;
    padding: 20px 40px;
    margin: 30px 60px;
}

.resources a {
    text-decoration: none;
    color: #932b2b;
}

.heading h3 {
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}

.heading hr {
    width: 73px;
    border-bottom: 5px solid #932b2b;
}

.skills {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #1f2021;
    color: #fff;
    padding-bottom: 10px;
}

.skill1 {
    text-align: center;
 }
 
 .skill2 {
     text-align: center
 }
 
 .skill3 {
     text-align: center;
 }

 .skills h4 {
     margin-bottom: 0;
 }

.projects h2 {
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}

.projects hr {
    width: 128px;
    border-bottom: 5px solid #932b2b;
}

.projects {
    margin: 0 45px 0 45px;
}

.p {
    text-align: center;
    margin-bottom: 40px;
}
  
.project-card-no-image-dark {
    padding: 25px 50px;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px #1f2021;
    border-top: 4px solid #932b2b;
    background-color: #303030;
    color: #fff;
    height: 150px;
}
  
.project-card-no-image-dark h3 {
    font-size: 1.2em;
    padding-bottom: 10px;
    margin: 0;
 }
  
.project-card-no-image-dark h4 {
    font-size: 1em;
    padding-bottom: 10px;
    opacity: .5;
}
  
.project-card-no-image-dark .tags a {
    color: #979797;
    text-decoration: none;
}
  
.project-card-no-image-dark .tags {
    text-transform: uppercase;
    float: right;
    font-size: .75em;
    margin-top: 7px;
}

.btn-outline-primary-dark {
    color: #932b2b;
    border: 1px solid #932b2b;
    padding: 3px 6px;
    text-decoration: none;
    font-weight: 500;
}

.btn-outline-primary-dark:hover {
    color: #fff;
    background-color: #932b2b;
    border-color: #932b2b;
    transition: 0.5s;
}

.contact-me {
    background-color: #1f2021;
    display: flex;
    flex-direction: column;
    position: relative;
}
  
.contact-me-heading h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

.contact-me-heading hr {
    width: 145px;
    border-bottom: 5px solid #932b2b;
}

.form {
    margin: 20px auto 80px;
    color: #fff;
    font-size: 1.2em;
}

input, textarea {
    display: block;
    width: 300px;
    margin: 15px 0;
    padding: 5px 10px;
    font-size: 1.1em;
    margin-top: 0;
}

.btn {
    width: 320px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background: #932b2b;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 5px;
}

.btn:hover {
    color: #932b2b;
    background: #fff;
    letter-spacing: 1px;
    transition: .5s;
}

.social-icons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    
}

.social-icons a {
    color: #979797;
    margin: 10px;
    font-size: 2em;
}

.footer {
    text-align: center;
    font-weight: 500;
}

.nav-display {
    display: none;
}

.nav-toggle {
    display: block;
}

nav {
    position: fixed;
    z-index: 99;
    width: 66%;
    right: 0;
    top: 0;
    background: #932b2b;
    height: 100vh;
}

nav .navigation-list {
    margin-top: 8em;
    margin-right: 40px;
}

nav ul li {
    text-decoration: none;
    display: block;
    text-align: right;
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;
}

nav ul li a:hover {
    font-weight: bold;
}

nav img {
    width: 55px;
    height: 55px;
    float: right;
    cursor: pointer;
    margin-right: 40px;
    padding: 8px 0;
}

nav .social-icons a {
    color: #fff;   
}


/*responsive design*/
@media only screen and (min-width: 768px) {
    header img {
        display: none;
    }

    header nav .social-icons {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 180px auto;
        max-height: 72px;
    }

    header .nav-display {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }

    header .nav-display ul {
        display: flex;
        margin: 0;
        margin-right: 40px;
        margin-top: 10px;
    }

    header .nav-display ul a {
        font-size: 1em;
    }

    .home p {
        font-size: 1.6em;
    }
    
    .home h1 {
        font-size: 2.8em;
        margin-bottom: 0;
    }
    
    .home hr {
        width: 250px;
        border-bottom: 5px solid #932b2b;
    }

    .projects {
        width: 65%;
        margin: 0 auto;
       
    }
    
}

@media only screen and (min-width: 1080px) {
    .edu-pas {
        
    }

    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "a a a"
        "b c d"
        ;
        padding-bottom: 100px;
    }
    
    .heading {
        grid-area: a;
    }

    .skill1 {
        grid-area: b;
    }
    .skill2 {
        grid-area: c;
    }
    .skill3 {
        grid-area: d;
    }

    .projects {
        width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 35px;
        grid-template-areas: 
        "a a a"
        "b c d"
        ;

        margin-bottom: 100px;
    }
    
    .projects-heading {
        grid-area: a;
    }

    .project1 {
        grid-area: b;
    }
    .project2 {
        grid-area: c;
    }
    .project3 {
        grid-area: d;
    }

    .form {
        margin: 20px auto 80px;
        color: #fff;
        font-size: 1.2em;
        width: 450px;
    }

    input, textarea {
        display: block;
        width: 100%;
        margin: 15px 0;
        padding: 5px 10px;
        font-size: 1.1em;
        margin-top: 0;
    }
    
    .btn {
        width: 470px;
        border: none;
        border-radius: 20px;
        color: #fff;
        background: #932b2b;
        padding: 5px 10px;
        font-size: 1em;
        cursor: pointer;
        margin-top: 5px;
    }

}

@media only screen and (min-width: 1450px) {
    .edu-pas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "edu pas"
        "res res"
        ;
    }

    .education {
        grid-area: edu;
    }

    .passion {
        grid-area: pas;
    }

    .resources {
        grid-area: res;
        text-align: center;
        height: auto;
    }


    .projects {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

}   
